<template>
  <div class="bg-white shadow overflow-hidden">
    <div
      class="px-4 sm:px-6 lg:px-8 pt-3 pb-4 max-w-7xl mx-auto grid grid-cols-2 lg:grid-cols-5 gap-4"
    >
      <div class="max-w-2xl text-sm text-gray-500">
        <select
          id="country"
          name="country"
          autocomplete="country"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          v-model="form.date"
        >
          <option
            v-for="date in lists.date"
            :key="date.date_value"
            :value="date.date_value"
          >
            {{ date.date_text }}
          </option>
        </select>
      </div>

      <div class="max-w-2xl text-sm text-gray-500">
        <select
          id="country"
          name="country"
          autocomplete="country"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          v-model="form.branch"
        >
          <option>{{ default_form.branch }}</option>
          <option
            v-for="teritory in lists.branch"
            :key="teritory.branch"
            :value="teritory.branch"
          >
            {{ teritory.branch }}
          </option>
        </select>
      </div>

      <div class="max-w-2xl text-sm text-gray-500">
        <select
          id="country"
          name="country"
          autocomplete="country"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          v-model="form.cluster"
        >
          <option>{{ default_form.cluster }}</option>
          <option
            v-for="teritory in lists.cluster"
            :key="teritory.cluster"
            :value="teritory.cluster"
          >
            {{ teritory.cluster }}
          </option>
        </select>
      </div>

      <div class="max-w-2xl text-sm text-gray-500">
        <select
          id="country"
          name="country"
          autocomplete="country"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          v-model="form.kabupaten"
        >
          <option>{{ default_form.kabupaten }}</option>
          <option
            v-for="teritory in lists.kabupaten"
            :key="teritory.kabupaten"
            :value="teritory.kabupaten"
          >
            {{ teritory.kabupaten }}
          </option>
        </select>
      </div>

      <div
        class="text-sm text-gray-500 col-span-2 lg:col-auto flex items-center mt-0.5"
      >
        <button
          @click="downloadExcel()"
          class="w-full h-10 px-4 py-2 bg-red-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-700 active:bg-red-900 focus:outline-none focus:border-red-900 focus:shadow-outline-red transition ease-in-out duration-150"
        >
          Download Excel
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'

export default {
  props: {
    filters: Object,
    lists: Object,
  },

  data() {
    const default_form = {
      branch: 'All Branch',
      cluster: 'All Cluster',
      kabupaten: 'All Kabupaten',
    }
    return {
      default_form,
      form: {
        date: this.filters.date ?? this.lists.date[0].date_value,
        branch: this.filters.branch ?? default_form.branch,
        cluster: this.filters.cluster ?? default_form.cluster,
        kabupaten: this.filters.kabupaten ?? default_form.kabupaten,
      },
    }
  },
  methods: {
    downloadExcel() {
      const win = window.open(route('redbook.download', this.form), '_blank')
      win.focus()
    },
  },
  watch: {
    form: {
      handler: throttle(function () {
        let query = pickBy(this.form)
        this.$inertia.get(
          this.route(
            'dashboard',
            Object.keys(query).length ? query : { remember: 'forget' }
          )
        )
      }, 150),
      deep: true,
    },
    'form.branch'() {
      this.form.cluster = this.default_form.cluster
    },
    'form.cluster'() {
      this.form.kabupaten = this.default_form.kabupaten
    },
  },
}
</script>
