<template>
  <div class="grid grid-rows-1 lg:grid-cols-5 gap-4">
    <div
      class="
        bg-white
        shadow
        overflow-hidden
        sm:rounded-lg
        col-span-1
        lg:col-span-4
      "
    >
      <div class="p-4 sm:px-6">
        <h3 class="text-lg leading-6 font-bold text-gray-600">
          Daily Revenue - {{ $page.props.teritory }}
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          {{ $page.props.selected_date }}
        </p>
      </div>
      <div
        class="p-4 sm:px-6 border-t border-gray-200 h-3/5 sm:h-2/3"
        style="position: relative; width: 100%"
      >
        <div class="text-xs text-gray-900 pb-3">
          <table>
            <tr>
              <td class="pr-3">All Rev:</td>
              <td>{{ revkal.total_rev.all_rev }}</td>
            </tr>
            <tr>
              <td class="pr-3">All Broadband:</td>
              <td>{{ revkal.total_rev.broadband_rev }}</td>
            </tr>
            <tr>
              <td class="pr-3">All Digital:</td>
              <td>{{ revkal.total_rev.digital_rev }}</td>
            </tr>
          </table>
        </div>

        <canvas id="monthly-revenue-chart"></canvas>
      </div>
    </div>
    <div
      class="
        grid grid-cols-2
        lg:grid-cols-none lg:grid-rows-4
        gap-4
        px-4
        sm:px-0
      "
    >
      <small-card
        text-color="text-gray-600"
        :total="data.rech_b_total"
        :mom="data.rech_b_total_mom"
        >Recharge B# Total</small-card
      >
      <small-card
        text-color="text-gray-600"
        :total="data.rech_modern_b"
        :mom="data.rech_modern_b_mom"
        >Recharge Modern B#</small-card
      >
      <small-card
        text-color="text-gray-600"
        :total="data.rech_mkios_b"
        :mom="data.rech_mkios_b_mom"
        >Recharge Mkios B#</small-card
      >
      <small-card
        text-color="text-gray-600"
        :total="data.rech_mkios_b_inner"
        :mom="data.rech_mkios_b_inner_mom"
        >Recharge Mkios B# Inner</small-card
      >
    </div>
  </div>
  <div
    class="px-4 sm:px-0 grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4"
  >
    <small-card
      :total="data.revenue"
      :mom="data.revenue_mom"
      class="col-span-2 font-bold"
    >
      Monthly Revenue - {{ $page.props.teritory }}
    </small-card>
    <small-card :total="data.cb" :mom="data.cb_mom">CB</small-card>
    <small-card :total="data.rgb" :mom="data.rgb_mom">RGB</small-card>
    <small-card :total="data.du" :mom="data.du_mom">DU</small-card>
    <small-card :total="data.voucher_consume" :mom="data.voucher_consume_mom">
      Voc. Consume
    </small-card>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="p-4 sm:px-6">
        <h3 class="leading-6 font-bold text-gray-600">
          {{ child_mom.child_type }} Revenue Performance
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          {{ $page.props.selected_date }}
        </p>
      </div>
      <div class="p-4 border-t border-gray-200">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
            >
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">
                        Teritory
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">Rev</div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">MoM</div>
                    </td>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="data in child_mom.data" :key="data.teritori">
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs text-gray-900">
                        {{ data.teritori }}
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs text-gray-900">
                        {{ data.revenue }}
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div
                        class="
                          flex
                          items-center
                          text-xs
                          font-semibold
                          text-success
                        "
                      >
                        <div class="flex items-center">
                          <div
                            class="
                              flex
                              items-center
                              rounded-xl
                              overflow-hidden
                              pl-2
                              pr-2.5
                              py-0.5
                            "
                            :class="{
                              'bg-green-100 text-green-700':
                                data.revenue_mom >= 0,
                              'bg-red-100 text-red-700': data.revenue_mom < 0,
                            }"
                          >
                            <arrow
                              :type="data.revenue_mom >= 0 ? 'up' : null"
                            />
                            <span class="font-bold ml-0.5"
                              >{{ data.revenue_mom ?? "0.00" }}%</span
                            >
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- More rows... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="p-4 sm:px-6">
        <h3 class="leading-6 font-bold text-gray-600">
          {{ child_mom.child_type }} Recharge Mkios B# Performance
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          {{ $page.props.selected_date }}
        </p>
      </div>
      <div class="p-4 border-t border-gray-200">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
            >
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">
                        Teritory
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">Rev</div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs font-bold text-gray-900">MoM</div>
                    </td>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="data in child_mom.data" :key="data.teritori">
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs text-gray-900">
                        {{ data.teritori }}
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div class="text-xs text-gray-900">
                        {{ data.rech_mkios_b }}
                      </div>
                    </td>
                    <td class="px-2 py-1.5 whitespace-nowrap">
                      <div
                        class="
                          flex
                          items-center
                          text-xs
                          font-semibold
                          text-success
                        "
                      >
                        <div class="flex items-center">
                          <div
                            class="
                              flex
                              items-center
                              rounded-xl
                              overflow-hidden
                              pl-2
                              pr-2.5
                              py-0.5
                            "
                            :class="{
                              'bg-green-100 text-green-700':
                                data.rech_mkios_b_mom >= 0,
                              'bg-red-100 text-red-700':
                                data.rech_mkios_b_mom < 0,
                            }"
                          >
                            <arrow
                              :type="data.rech_mkios_b_mom >= 0 ? 'up' : null"
                            />
                            <span class="font-bold ml-0.5"
                              >{{ data.rech_mkios_b_mom ?? "0.00" }}%</span
                            >
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- More rows... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="p-4 sm:px-6">
        <h3 class="leading-6 font-bold text-gray-600">
          RGB Performance - {{ $page.props.teritory }}
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          {{ $page.props.selected_date }}
        </p>
      </div>
      <div class="p-4 border-t border-gray-200">
        <canvas id="rgb-chart"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { Chart, registerables } from "chart.js";
import ChartDataLabels from "chartjs-plugin-datalabels";
import SmallCard from "@/Components/Cards/SmallCard";
import Arrow from "@/Components/Icons/Arrow";

export default {
  components: { SmallCard, Arrow },

  props: ["data", "revkal", "child_mom"],

  setup(props) {
    Chart.register(...registerables, ChartDataLabels);

    const singkatAngka = (n) => {
      let formatAngka = 0,
        simbol = "";

      const ribu = 1000,
        juta = 1000000,
        miliar = 1000000000;

      if (n < 900) {
        formatAngka = n;
      } else if (n < 900 * ribu) {
        formatAngka = n / ribu;
        simbol = "rb";
      } else if (n < 900 * juta) {
        formatAngka = n / juta;
        simbol = "jt";
      } else if (n < 900 * miliar) {
        formatAngka = n / miliar;
        simbol = "M";
      }
      return formatAngka.toLocaleString() + simbol;
    };
    onMounted(() => {
      let dayStart = 1;
      const dayEnd = 31;
      const DAYS = Array(dayEnd)
        .fill()
        .map(() => dayStart++);

      const monthlyRevenueChart = new Chart(
        document.getElementById("monthly-revenue-chart"),
        {
          type: "line",
          data: {
            labels: DAYS,
            datasets: [
              {
                label: "Rev",
                data: props.revkal.all_rev,
                borderColor: "rgba(255, 99, 132)",
                backgroundColor: "rgba(255, 99, 132)",
                fill: false,
                datalabels: {
                  display: false,
                },
              },
              {
                label: "Broadband",
                data: props.revkal.broadband_rev,
                borderColor: "rgba(75, 192, 192)",
                backgroundColor: "rgba(75, 192, 192)",
                fill: false,
                datalabels: {
                  display: false,
                },
              },
              {
                label: "Digital",
                data: props.revkal.digital_rev,
                borderColor: "rgba(255, 206, 86)",
                backgroundColor: "rgba(255, 206, 86)",
                fill: false,
                datalabels: {
                  display: false,
                },
              },
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            interaction: {
              intersect: false,
            },
            tooltips: {
              mode: "index",
              callbacks: {
                label: function (tooltipItem, data) {
                  let label =
                    data.datasets[tooltipItem.datasetIndex].label || "";

                  if (label) {
                    label += ": ";
                  }
                  label += tooltipItem.yLabel.toLocaleString();
                  return label;
                },
              },
            },
            scales: {
              x: {
                grid: {
                  display: false,
                },
              },
              y: {
                ticks: {
                  beginAtZero: true,
                  callback: function (label, index, labels) {
                    return singkatAngka(label);
                  },
                },
                grid: {
                  display: true,
                  drawBorder: false,
                  drawOnChartArea: true,
                },
              },
            },
          },
        }
      );

      const RgbChart = new Chart(document.getElementById("rgb-chart"), {
        type: "bar",
        data: {
          labels: ["RGB", "RGB Voice", "RGB SMS", "RGB Data", "RGB Digital"],
          datasets: [
            {
              label: "RGB",
              data: [
                props.data.rgb_p,
                props.data.rgb_voice,
                props.data.rgb_sms,
                props.data.rgb_data,
                props.data.rgb_digital,
              ],
              borderColor: palette("tol", 5).map(function (hex) {
                return "#" + hex;
              }),
              backgroundColor: "white",
              borderWidth: 2,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            datalabels: {
              clamp: true,
              anchor: "center",
              align: "right",
              formatter: function (value, context) {
                return value.toLocaleString();
              },
            },
            legend: {
              display: false,
            },
          },
          interaction: {
            intersect: false,
          },
          tooltips: {
            mode: "index",
            callbacks: {
              label: function (tooltipItem, data) {
                let label = data.datasets[tooltipItem.datasetIndex].label || "";

                if (label) {
                  label += ": ";
                }
                label += tooltipItem.xLabel.toLocaleString();
                return label;
              },
            },
          },
          scales: {
            x: {
              ticks: {
                beginAtZero: true,
                callback: function (label, index, labels) {
                  return singkatAngka(label);
                },
              },
              grid: {
                display: true,
                drawBorder: true,
                drawOnChartArea: true,
              },
            },
            y: {
              grid: {
                display: false,
                drawBorder: false,
                drawOnChartArea: false,
              },
            },
          },
        },
      });
    });
  },
};
</script>
