<template>
  <div class="rounded-lg bg-white shadow overflow-hidden p-4 sm:px-6">
    <div class="mb-2 text-sm"><slot></slot></div>
    <div class="text-lg font-bold" :class="textColor">{{ total }}</div>
    <div class="flex items-center text-sm font-semibold text-success">
      <div class="flex items-center mt-1">
        MoM
        <div
          class="flex items-center rounded-xl overflow-hidden ml-2 pl-2 pr-2.5 py-0.5"
          :class="{
            'bg-green-100 text-green-700': mom >= 0,
            'bg-red-100 text-red-700': mom < 0,
          }"
        >
          <arrow :type="mom >= 0 ? 'up' : null" />
          <span class="font-bold ml-0.5">{{ mom ?? '0.00' }}%</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Arrow from '@/Components/Icons/Arrow'

export default {
  components: { Arrow },
  props: {
    textColor: {
      type: String,
      default: 'text-indigo-600',
    },
    total: {
      type: String,
    },
    mom: {
      type: String,
    },
  },
}
</script>
