<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <filter-card :filters="filters" :lists="lists" />
    <div class="py-6 max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-6">
        <revenue-chart-card
          :data="redbook"
          :revkal="revkal"
          :child_mom="child_mom"
        />
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import FilterCard from '@/Components/Cards/FilterCard'
import RevenueChartCard from '@/Components/Cards/RevenueChartCard'
import { ref } from 'vue'

export default {
  components: {
    AppLayout,
    RevenueChartCard,
    FilterCard,
  },

  props: ['date_list', 'redbook', 'revkal', 'filters', 'lists', 'child_mom'],
}
</script>
