<template>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    height="800"
    width="850"
    viewBox="-150 -109.76525 920.83334 658.5915"
    version="1.1"
    id="svg48"
    sodipodi:docname="Telkomsel-Logo.wine.svg"
    inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
  >
    <defs id="defs8">
      <clipPath clipPathUnits="userSpaceOnUse" id="a">
        <path
          d="m 565.879,2409.88 292.047,686.12 741.704,90.8 449.75,-595.26 -292,-686.13 -741.71,-90.79 z"
          id="path2"
        />
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="b">
        <path
          d="m 1742.81,1924.7 -717.7,-87.81 -435.184,575.98 282.566,663.77 717.688,87.88 435.16,-575.98 z"
          id="path5"
        />
      </clipPath>
    </defs>
    <g id="g32" transform="matrix(1.003707,0,0,1.003707,-186.49428,26.389399)">
      <path
        d="M 241.5264,162.73754 335.44145,-57.904093 573.95904,-87.103691 718.58781,104.31998 624.68849,324.96423 386.16828,354.1612 241.52378,162.73754"
        fill="#ffffff"
        id="path16"
        style="stroke-width: 2.62303"
      />
      <g
        clip-path="url(#a)"
        fill="#ffffff"
        transform="matrix(0.32158378,0,0,-0.32158378,59.548273,937.70724)"
        id="g22"
      >
        <path
          d="m 1806.43,1802.84 c -151.89,-485.84 -403,-800.74 -647.65,-770.73 -294.139,35.98 -493.526,639.96 -388.491,1349.57 105.262,710.93 417.061,1224.98 730.501,1204.49 205.09,-13.37 364.64,-290.62 409.94,-664.84 -56.74,211.72 -142.35,430.96 -288.39,450.19 C 1421.03,3398 1157.25,2991.9 1048.7,2431.7 947.891,1911.33 1027.98,1392.89 1263.41,1362.23 c 152.1,-19.76 411.81,139.15 543.02,440.61"
          id="path18"
        />
        <path
          d="m 1941.32,1848.48 c 274.06,123.58 552.07,267.06 525.79,438.67 -39.9,260.28 -644.02,358 -1173.4,305.92 C 1060.21,2570.12 224.613,2401.76 237.75,2049.82 241.578,1947.38 515.629,1812.35 744.98,1746.1 387.977,1785.95 27.55,1963.29 2.281,2177 c -38.117,323.27 528.016,655.33 1273.349,734.61 739.73,78.56 1379.5,-113.74 1423.39,-436.28 33.03,-242.65 -282.96,-476.6 -757.7,-626.85"
          id="path20"
        />
      </g>
      <path
        d="M 677.94655,346.22915 447.6338,374.44249 307.98355,189.62362 398.64867,-23.424326 628.98764,-51.595695 768.61953,133.22055 677.94655,346.22915"
        fill="#656263"
        id="path24"
        style="stroke-width: 2.62303"
      />
      <path
        d="M 640.46079,357.94886 C 591.61468,514.18717 510.86462,615.47032 432.18938,605.7992 337.60021,594.23163 273.48018,400.00394 307.25697,171.83159 c 33.85023,-228.647125 134.1209,-393.95326 234.91617,-387.3642 65.95353,4.29915 117.26004,93.45865 131.82836,213.7981399 C 655.75569,-69.82053 628.22434,-140.3224 581.26157,-146.50751 c -64.73644,-8.51436 -149.56532,122.078563 -184.47263,302.22843 -32.41806,167.36259 -6.6625,334.06155 69.04608,343.92153 48.91431,6.35299 132.43167,-44.74893 174.62577,-141.69359"
        fill="#b0aeaf"
        id="path26"
        style="stroke-width: 2.62303"
      />
      <path
        d="m 683.83788,343.27299 c 88.13389,-39.73894 177.5347,-85.8807 169.08329,-141.06668 -12.82925,-83.70097 -207.10415,-115.1249 -377.34158,-98.37946 -75.08955,7.38121 -343.80087,61.52323 -339.57779,174.72019 1.23283,32.92169 89.3641,76.34337 163.11852,97.65026 C 184.31544,363.38116 68.406254,306.35119 60.282722,237.62774 48.025291,133.66909 230.08211,26.885437 469.76433,1.3921847 707.64714,-23.872864 913.3847,37.96775 927.49923,141.69032 c 10.62329,78.0326 -90.99299,153.26379 -243.66135,201.58267"
        fill="#b0aeaf"
        id="path28"
        style="stroke-width: 2.62303"
      />
      <path
        d="M 620.00376,318.76338 389.20313,347.00032 249.25648,161.77751 340.12619,-51.679632 570.92157,-79.940189 710.86036,105.28526 620.00376,318.76338"
        fill="#ed1c24"
        id="path30"
        style="stroke-width: 2.62303"
      />
      <g
        clip-path="url(#b)"
        fill="#ffffff"
        transform="matrix(0.32158378,0,0,-0.32158378,59.548273,937.70724)"
        id="g36"
      >
        <path
          d="m 1806.43,1802.84 c -151.89,-485.84 -403,-800.74 -647.65,-770.73 -294.139,35.98 -493.526,639.96 -388.491,1349.57 105.262,710.93 417.061,1224.98 730.501,1204.49 205.09,-13.37 364.64,-290.62 409.94,-664.84 -56.74,211.72 -142.35,430.96 -288.39,450.19 C 1421.03,3398 1157.25,2991.9 1048.7,2431.7 947.891,1911.33 1027.98,1392.89 1263.41,1362.23 c 152.1,-19.76 411.81,139.15 543.02,440.61"
          id="path32"
        />
        <path
          d="m 1941.32,1848.48 c 274.06,123.58 552.07,267.06 525.79,438.67 -39.9,260.28 -644.02,358 -1173.4,305.92 C 1060.21,2570.12 224.613,2401.76 237.75,2049.82 241.578,1947.38 515.629,1812.35 744.98,1746.1 387.977,1785.95 27.55,1963.29 2.281,2177 c -38.117,323.27 528.016,655.33 1273.349,734.61 739.73,78.56 1379.5,-113.74 1423.39,-436.28 33.03,-242.65 -282.96,-476.6 -757.7,-626.85"
          id="path34"
        />
      </g>
    </g>
  </svg>
</template>
